body {
  background-color: #000000;
}

h1 {
  color: #ffae00;
  font-family: verdana;
  text-align: center;
}

p {
  color: #ffae00;
  font-family: verdana;
  font-size: 15px;
}
hr {
  color: #ffae00;
}
